:root{
    --gold: #A89469;
    --text-color: #595959;
    --blue: #002F6C;
    --white: #fff;

}
*{
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#_progress {
    --scroll: 0%;
    background: linear-gradient(
      to right,
      rgb(168, 148, 105) var(--scroll),
      transparent 0
    );
    position: fixed;
    width: 100%;
    height: 5px;
    top: 0px;
    z-index: 100;
  }
  
.header{
    background-color:solid;
    color: #FFFFFF;
    position: fixed;
    width: 100%;
      
    transition: transform 0.5s ease-in-out;
    z-index: 10;
  }
   
  
  
  .header-unpin{
    /* display: none; */
    transform: translateY(-65px);
  }
  .header-pin{
    /* display: block; */
    transform: translateY(0);
  }
.navbar{
    background: var(--blue);
    height: 70px;
    padding: 0.5rem calc((100vw - 1200px)/2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;


}
.navbar__logo img{
     
    width: 60px;
    position: fixed;
    top: 10px;
    left: 20px;


}
.navbar p{
     
  
    position: fixed;
    top: 10px;
    left: 100px;


}

body{
    background-color: #fff;
}
 
@media screen and (max-width: 768px){
    body.active{
        overflow-y: hidden;
        overflow-x: hidden;
    }
     

.navbar__menu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 100px);
    position: absolute;
    width: 100%;
    top: -1000px;

}
.navbar__menu.active{
    top: 100%;
    opacity: 1;
    z-index: 99;
    height: 100vh;
    font-size: 1.5rem;
    background: var(--blue);

}

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin:  5px auto;
        transition:  all 0.3s ease-in-out;
        background: var(--white);
        display: block;
        cursor: pointer;
    }

    #mobile-menu {
        position: absolute;
        top:15%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;

    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        
    }
}
.hero{
    background: linear-gradient(to right, rgba(0,0,0, 0.4), rgba(0,0,0,0.1)), url('https://images.pexels.com/photos/6019019/pexels-photo-6019019.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 0.5rem calc((100vw - 1200px)/2);
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.hero__content{
    color: var(--white);
    padding: 3rem 1rem;
    line-height: 1;


}
.hero__content h1{
    font-size: clamp(1rem, 4vw, 4rem);
    text-transform: uppercase;
    margin-bottom: 0.5rem;

}
.hero__content p{
    font-size: clamp(1rem, 4vw, 1.5rem);
 
    margin-bottom: 3rem;
}
.button{
 padding: 1rem 3rem;
 border: none;
 background: var(--gold);
 color: var(--white);
 font-size: 1rem;
 cursor: pointer;
 outline: none;
 transition:  0.3s ease;
 text-decoration: none;
 border-radius: 4px;



}
.button:hover{
    background: var(--blue);
}

/* services */
.services{
    padding: 8rem calc((100vw - 1200px)/2);
    background-color: var(--white);


}
.tabla{
    margin-top: 50px;
}
.services__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;

}
.tabla__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
     

}
.services__img{
    width: 100%;
    height: 100%;

}
.topline{
    color: var(--gold);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.5rem ;
    font-size: 1rem;
}
.services__heading{
    margin-bottom: 1rem;
    font-size: clamp(2rem, 6vw, 3rem);
   
}
.services__features{
    list-style: none;

}
.services__feature{
    margin-bottom: 1.5rem;
    font-size: clamp(1rem, 5vw, 1.2rem);

}
.text{
    font-size: 20px;
    color:var(--text-color);
    text-align:justify;
    margin-left: 15% ;
    margin-right: 15%;
 
}
.text__table{
    font-size: 1rem;
    color:var(--text-color);
    text-align:left;
     
 
}
.contenedor_img{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen{
    width: 60%;
     
}
.text__intro{
    margin-bottom: 3rem;
    font-size: clamp(1rem, 3vw,1rem);
    padding: 1rem;
    text-align: justify;
    margin-left: 8% ;
    margin-right: 8%;
    font-family:  Poppins; 
}
.material-icons{
    margin-right: 0.5rem;
    color: var(--gold);
}
@media screen and (max-width: 768px){
    .services__container{
        grid-template-columns: 1fr;
    }
    .text__intro{
        text-align: left;
        margin-left: 0% ;
        margin-right: 0%;
         
    }
}

/* membership */
 

.memberships{
    background: var(--blue);
    color: var(--white);
    padding: 6rem calc((100vw - 1100px)/2);
    text-align: center;
}
.memberships h1{
    margin-bottom: 1rem;
    font-size: clamp(2rem, 5vw,3rem);
    padding: 0 1rem;

}
.membership__desc{
    margin-bottom: 3rem;
    font-size: clamp(1rem, 3vw,1.5rem);
    padding: 1rem;
}
.membership__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}
.membership__card{
    padding: 2rem;
    min-height: 450px;
    width: 325px;
    background: var(--white);
    color: var(--blue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.membership__perks{
    min-height: 150px;

}
.membership__card p{

    margin-bottom: 1rem;
}
.material-icons  {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: var(--gold);

}
.membership__card h3{
    font-size: clamp(1rem, 5vw, 2rem);
    margin-bottom: 2rem;
}
@media screen and (max-width: 1100px){
    .membership__wrapper{
        flex-direction: column;
        align-items: center;
    }
    .membership__card{
        width: 90%;
        margin-bottom: 2rem;
    }
}

/* footer */
.footer{
    padding: 5rem calc((100vw - 1100px)/2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--white);
    background: #3e4144;
}
.footer__desc{
    padding: 0 2rem;
}
.footer__desc h1{
    margin-bottom: 2rem;
    color: var(--gold);
    font-size: 1.5rem;
}

.footer__desc p{
    margin-bottom: 1rem;

}
#phone{
    font-weight: bold;
    font-size: 1.2rem;

}
.footer__wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.footer__links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;

}
.footer__title{
    font-size: 14px;
    margin-bottom: 16px;

}
.footer__link{
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    margin-bottom: 0.5rem;
    transition: 0.3s ease-in-out;



}
.footer__link:hover{
    color: var(--gold);
}
@media screen and (max-width: 820px){
    .footer__wrapper{
        grid-template-columns: 1fr;

    }

}
@media screen and (max-width:400px) {
    .footer__desc{
        padding: 1rem;
    }
    .footer__links{
        padding: 1rem;
    }
}

 
.formula{
    position: relative;
    overflow-x:auto ;
    z-index: 0;

}
@media screen and (max-width: 768px){
    img{
        width: 100%;
    }
}

/* new navbar */
#toggle{
    position: fixed;
    top: 0px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: transparent ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
#toggle::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;

}
#toggle::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
}
#toggle.active::before{
    transform:translateY(0px) rotate(45deg);
}
#toggle.active::after{
    transform:translateY(0px)  rotate(-45deg);
}
#sidebar{
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background: var(--gold);
    transition: 0.5s;

}
#sidebar.active{
    left: 0px;
}
#sidebar ul{
    position: relative;
    margin-top: 50px;

}
#sidebar ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 7% 40px;
}
#sidebar ul li:hover{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
#sidebar ul li a {
    color: var(--blue);
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 2px;
    
}
 
/* image hover */
 
 
.image-box {
    position: relative;
    overflow: hidden;
  
    
}

.image-box img {
    height: 50vh;
    width: 100%;
    transition: .5s
}

.text-box {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 33.3%;
    background: #a894695b;
    transition: 0.5s
}
 
 
.text-box a i{
    margin-left: 33.3%;
    margin-top:50%;
    font-size:75px ;
    color: #ffffff;
}
.text-box a i:hover{
    color: #ff6060 ; 
  }


.image-box:hover .text-box {
    left: 0%;
}

.image-box:hover img {
    transform: scale(1.2)
}
@media screen and (max-width: 768px){
    .text-box {
        
        width: 50%;
       
    }
}

/* parlax */
